@font-face {
  font-family: "iconfont"; /* Project id 3751879 */
  src: url('iconfont.woff2?t=1684740452803') format('woff2'),
       url('iconfont.woff?t=1684740452803') format('woff'),
       url('iconfont.ttf?t=1684740452803') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ykg-home-page:before {
  content: "\e69d";
}

.ykg-magic:before {
  content: "\e69e";
}

.ykg-fasong:before {
  content: "\e69f";
}

.ykg-zhuye1:before {
  content: "\e6a0";
}

.ykg-duitiao:before {
  content: "\e6a1";
}

.ykg-emoji:before {
  content: "\e6a2";
}

.ykg-shuaxin:before {
  content: "\e6a9";
}

.ykg-shangchuanfujianfujian:before {
  content: "\e69b";
}

.ykg-homework-file:before {
  content: "\e69c";
}

.ykg-fujian:before {
  content: "\e6a8";
}

.ykg-liebiao3:before {
  content: "\e699";
}

.ykg-biaoge2:before {
  content: "\e6c6";
}

.ykg-liebiao2:before {
  content: "\e692";
}

.ykg-xiangmu2:before {
  content: "\e693";
}

.ykg-biaoge1:before {
  content: "\e696";
}

.ykg-a-wendangjiludingdan:before {
  content: "\e697";
}

.ykg-wendangzhongxin:before {
  content: "\e698";
}

.ykg-shipin:before {
  content: "\e68a";
}

.ykg-wendang2:before {
  content: "\e68d";
}

.ykg-wj-bjb:before {
  content: "\e77f";
}

.ykg-danchuang:before {
  content: "\e68e";
}

.ykg-xiangmu1:before {
  content: "\e68f";
}

.ykg-chengyuan3:before {
  content: "\e690";
}

.ykg-xiangyou:before {
  content: "\e691";
}

.ykg-xianshi:before {
  content: "\e6cc";
}

.ykg-yincang:before {
  content: "\e6cf";
}

.ykg-liebiaoxingshi:before {
  content: "\e743";
}

.ykg-pingpu:before {
  content: "\e97f";
}

.ykg-lianjie:before {
  content: "\e685";
}

.ykg-zuiyou:before {
  content: "\e67f";
}

.ykg-zuizuo:before {
  content: "\e683";
}

.ykg-gantetu:before {
  content: "\e684";
}

.ykg-jia:before {
  content: "\e67e";
}

.ykg-yidongshu:before {
  content: "\e67d";
}

.ykg-baseline-drag_indicator:before {
  content: "\e72d";
}

.ykg-JC_010:before {
  content: "\e67c";
}

.ykg-zhuye:before {
  content: "\e76e";
}

.ykg-shenglvehao:before {
  content: "\e678";
}

.ykg-biaoqing:before {
  content: "\e67b";
}

.ykg-row-full:before {
  content: "\e976";
}

.ykg-guanbi1:before {
  content: "\e676";
}

.ykg-dagou1:before {
  content: "\e674";
}

.ykg-xiangxia:before {
  content: "\e666";
}

.ykg-youjiantou:before {
  content: "\e667";
}

.ykg-zuojiantou:before {
  content: "\e668";
}

.ykg-jiantou:before {
  content: "\e669";
}

.ykg-shangjiantou:before {
  content: "\e66c";
}

.ykg-xiajiantou:before {
  content: "\e66d";
}

.ykg-youjiantou1:before {
  content: "\e670";
}

.ykg-zuojiantou1:before {
  content: "\e671";
}

.ykg-jinrujiantouxiao:before {
  content: "\e8ba";
}

.ykg-xiajiantou1:before {
  content: "\eb6d";
}

.ykg-shangjiantou1:before {
  content: "\eb6e";
}

.ykg-xialajiantouxiao:before {
  content: "\e907";
}

.ykg-shouqijiantouxiao:before {
  content: "\e908";
}

.ykg-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.ykg-jiantou_yemian_xiangyou:before {
  content: "\eb0c";
}

.ykg-jiantou_yemian_xiangyou_o:before {
  content: "\eb93";
}

.ykg-sousuo:before {
  content: "\e665";
}

.ykg-xuanze:before {
  content: "\e623";
}

.ykg-yuanxing:before {
  content: "\e626";
}

.ykg-feiyong2:before {
  content: "\e70b";
}

.ykg-caozuojilu:before {
  content: "\e628";
}

.ykg-caozuojilu1:before {
  content: "\e639";
}

.ykg-vr:before {
  content: "\e688";
}

.ykg-caozuorizhi:before {
  content: "\e638";
}

.ykg-xiaoxi3:before {
  content: "\e719";
}

.ykg-maiyizengyi:before {
  content: "\e8b2";
}

.ykg-rili1:before {
  content: "\e8b4";
}

.ykg-shezhi1:before {
  content: "\e8b7";
}

.ykg-shoucang1:before {
  content: "\e8b9";
}

.ykg-pdf:before {
  content: "\e805";
}

.ykg-guanbi:before {
  content: "\e61e";
}

.ykg-feiyong3:before {
  content: "\e672";
}

.ykg-chengyuan1:before {
  content: "\e61f";
}

.ykg-xiangce:before {
  content: "\e621";
}

.ykg-jihuaxinxi:before {
  content: "\e66f";
}

.ykg-shoucang2:before {
  content: "\e622";
}

.ykg-jilu:before {
  content: "\e624";
}

.ykg-yunshudidian:before {
  content: "\e625";
}

.ykg-huokebao:before {
  content: "\e677";
}

.ykg-tupian_huaban:before {
  content: "\e63a";
}

.ykg-gonggao1:before {
  content: "\e63c";
}

.ykg-renyuan:before {
  content: "\e627";
}

.ykg-pinglun:before {
  content: "\e629";
}

.ykg-guanggaoyusuanguanli:before {
  content: "\e6db";
}

.ykg-yusuanguanli:before {
  content: "\e653";
}

.ykg-jizhang:before {
  content: "\e763";
}

.ykg-shouyetubiao-03:before {
  content: "\e63d";
}

.ykg-fengxianyujing:before {
  content: "\e63f";
}

.ykg-anquanfengxian:before {
  content: "\e640";
}

.ykg-xiangqing1:before {
  content: "\e645";
}

.ykg-zhaoxiangji_zhaoxiangji_zhaoxiangji:before {
  content: "\e71b";
}

.ykg-didian2:before {
  content: "\e646";
}

.ykg-rili2:before {
  content: "\e647";
}

.ykg-tiyan:before {
  content: "\e689";
}

.ykg-shouye1:before {
  content: "\e648";
}

.ykg-xiangmu:before {
  content: "\e649";
}

.ykg-collaboration:before {
  content: "\e85a";
}

.ykg-lightning:before {
  content: "\e995";
}

.ykg-paizhaozhaoxiang:before {
  content: "\e64a";
}

.ykg-guanyuwomen:before {
  content: "\e66a";
}

.ykg-chengyuan2:before {
  content: "\e659";
}

.ykg-shuzihua:before {
  content: "\e650";
}

.ykg-VRBtn:before {
  content: "\e718";
}

.ykg-yitongguo:before {
  content: "\e6a3";
}

.ykg-wendang_wenjian:before {
  content: "\e796";
}

.ykg-xiaoxi4:before {
  content: "\e651";
}

.ykg-zhuangxiutuandui:before {
  content: "\e652";
}

.ykg-weitongguo:before {
  content: "\e654";
}

.ykg-caiwu:before {
  content: "\e681";
}

.ykg-a-24_nor:before {
  content: "\e655";
}

.ykg-tianjiagongshi:before {
  content: "\e656";
}

.ykg-dongtai:before {
  content: "\e657";
}

.ykg-huizong:before {
  content: "\e658";
}

.ykg-xuanzhuan-1:before {
  content: "\e69a";
}

.ykg-xiaoshoufangan:before {
  content: "\e6a5";
}

.ykg-baoxiaoshenqing-feiyongbaoxiaoshenqing-04:before {
  content: "\e723";
}

.ykg-feiyongbaoxiaoshenqing-01:before {
  content: "\e742";
}

.ykg-pingmiantu:before {
  content: "\e65a";
}

.ykg-shuzihuaguanli:before {
  content: "\e7f9";
}

.ykg-shangchuanfujian-tianjiafujian-02:before {
  content: "\e83a";
}

.ykg-xiazai-wenjianxiazai-16:before {
  content: "\e856";
}

.ykg-caiwuguanli:before {
  content: "\e6ad";
}

.ykg-icon_jindu:before {
  content: "\e65b";
}

.ykg-guzhang:before {
  content: "\e68b";
}

.ykg-gonggao2:before {
  content: "\e661";
}

.ykg-jinhangzhong:before {
  content: "\e662";
}

.ykg-line_shoushi:before {
  content: "\e675";
}

.ykg-jiqirenpeixun:before {
  content: "\e663";
}

.ykg-rili3:before {
  content: "\e664";
}

.ykg-a-06gaodufenping:before {
  content: "\e682";
}

.ykg-jiqiren:before {
  content: "\e6af";
}

.ykg-wenzhang:before {
  content: "\e600";
}

.ykg-shoucang:before {
  content: "\e601";
}

.ykg-sheji:before {
  content: "\e612";
}

.ykg-wenbenbianji:before {
  content: "\e6d5";
}

.ykg-women:before {
  content: "\e604";
}

.ykg-caigou:before {
  content: "\e605";
}

.ykg-xiaoxi:before {
  content: "\e62f";
}

.ykg-women1:before {
  content: "\e60d";
}

.ykg-wodejihua:before {
  content: "\e695";
}

.ykg-tousujianyi:before {
  content: "\e60b";
}

.ykg-icond:before {
  content: "\e65c";
}

.ykg-hetong:before {
  content: "\e66e";
}

.ykg-jisuan:before {
  content: "\e680";
}

.ykg-chengyuan:before {
  content: "\e64d";
}

.ykg-dianhua:before {
  content: "\e64c";
}

.ykg-kefufenxiermaikefu:before {
  content: "\e889";
}

.ykg-zizhujiaofei:before {
  content: "\e62b";
}

.ykg-tongzhi:before {
  content: "\e62d";
}

.ykg-icon6:before {
  content: "\e673";
}

.ykg-shezhi:before {
  content: "\e62c";
}

.ykg-caiwuxinxi-copy:before {
  content: "\e641";
}

.ykg-wode:before {
  content: "\e602";
}

.ykg-liebiao:before {
  content: "\e62e";
}

.ykg-biaoge:before {
  content: "\e63e";
}

.ykg-guidangxiangmu:before {
  content: "\e660";
}

.ykg-kanban:before {
  content: "\e6fa";
}

.ykg-wancheng:before {
  content: "\e844";
}

.ykg-liebiao1:before {
  content: "\e603";
}

.ykg-wendang:before {
  content: "\e66b";
}

.ykg-zhanghuffffffpx:before {
  content: "\e606";
}

.ykg-rili:before {
  content: "\e607";
}

.ykg-renyuanzengjia:before {
  content: "\e687";
}

.ykg-caigoujihua:before {
  content: "\e608";
}

.ykg-gantanhao:before {
  content: "\e724";
}

.ykg-shaixuan:before {
  content: "\e64e";
}

.ykg-yanchurili:before {
  content: "\e644";
}

.ykg-liuliang:before {
  content: "\e61d";
}

.ykg-chengbenguanli:before {
  content: "\e60c";
}

.ykg-shujubaobiao:before {
  content: "\e78c";
}

.ykg-daichulikuanxiang:before {
  content: "\e642";
}

.ykg-bangzhu:before {
  content: "\e609";
}

.ykg-navicon-zhgnsz:before {
  content: "\e643";
}

.ykg-tianshenpi:before {
  content: "\eb67";
}

.ykg-shujukanban:before {
  content: "\eb66";
}

.ykg-shouye:before {
  content: "\e7a0";
}

.ykg-hetongxinxi:before {
  content: "\e631";
}

.ykg-icon_renwujincheng:before {
  content: "\eb88";
}

.ykg-icon_shiyongwendang:before {
  content: "\eb91";
}

.ykg-gongzuotai:before {
  content: "\e68c";
}

.ykg-xianshizhongzhi:before {
  content: "\e65d";
}

.ykg-xiangmuxiaoshuai-:before {
  content: "\e60a";
}

.ykg-xiaoxi1:before {
  content: "\e64f";
}

.ykg-sheji1:before {
  content: "\e65e";
}

.ykg-jiantou_youshang:before {
  content: "\eb0b";
}

.ykg-xiangqing:before {
  content: "\e619";
}

.ykg-tongzhi1:before {
  content: "\e60e";
}

.ykg-sanwei:before {
  content: "\e633";
}

.ykg-shezhixitongshezhigongnengshezhishuxing-xian:before {
  content: "\e795";
}

.ykg-ICAtubiao_wendangzhongxin:before {
  content: "\e60f";
}

.ykg-xiugai:before {
  content: "\e64b";
}

.ykg-shengyufuwu:before {
  content: "\e61b";
}

.ykg-wenjian:before {
  content: "\e686";
}

.ykg-wendang1:before {
  content: "\e630";
}

.ykg-shenpishezhi-:before {
  content: "\e635";
}

.ykg-fangjian:before {
  content: "\e632";
}

.ykg-xiazai:before {
  content: "\e636";
}

.ykg-feiyong:before {
  content: "\e610";
}

.ykg-shanchu:before {
  content: "\e637";
}

.ykg-feiyong1:before {
  content: "\e694";
}

.ykg-xiazai1:before {
  content: "\e611";
}

.ykg-xiaoxi2:before {
  content: "\e63b";
}

.ykg-pingtai_mokuai:before {
  content: "\e65f";
}

.ykg-help:before {
  content: "\e61a";
}

.ykg-quanpingmu:before {
  content: "\e6c5";
}

.ykg-bingtu:before {
  content: "\e613";
}

.ykg-gonggao:before {
  content: "\e62a";
}

.ykg-word:before {
  content: "\e614";
}

.ykg-camera:before {
  content: "\e615";
}

.ykg-caigouguanli:before {
  content: "\e616";
}

.ykg-yuyue:before {
  content: "\e617";
}

.ykg-wenben:before {
  content: "\e634";
}

.ykg-didian:before {
  content: "\e679";
}

.ykg-gongsi:before {
  content: "\e67a";
}

.ykg-tuandui:before {
  content: "\e618";
}

.ykg-didian1:before {
  content: "\e61c";
}

.ykg-shanchu1:before {
  content: "\e707";
}

.ykg-juxing:before {
  content: "\e620";
}

